<div class="card box-shadow">
  <div class="form-title-container">
    <span class="form-title">RESTABLECER</span>
  </div>
  <form #resetPasswordForm="ngForm">
    <mat-form-field class="email" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput disabled [value]="data.email" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Token</mat-label>
      <input type="text" matInput ngModel name="token" required />
      <mat-error>Token es <strong>requerido</strong></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input
        type="password"
        matInput
        ngModel
        name="password"
        required
        minlength="8"
        #password="ngModel"
        (ngModelChange)="verifyPasswords(resetPasswordForm)"
      />
      @if(password.hasError("required")) {
      <mat-error>Contraseña es <strong>requerida</strong></mat-error>
      } @if(password.hasError("minlength")) {
      <mat-error>Contraseña debe tener al menos 8 caracteres</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirmar Contraseña</mat-label>
      <input
        type="password"
        matInput
        ngModel
        name="confirmPassword"
        required
        #confirmPassword="ngModel"
        (ngModelChange)="verifyPasswords(resetPasswordForm)"
      />
      @if (confirmPassword.hasError('required')) {
      <mat-error
        >La confirmación de contraseña es <strong>requerida</strong></mat-error
      >
      } @if(confirmPassword.hasError("mismatch")){
      <mat-error>Las contraseñas no coinciden</mat-error>
      }
    </mat-form-field>

    <button
      [disabled]="resetPasswordForm.invalid"
      class="box-shadow"
      mat-flat-button
      (click)="resetPassword(resetPasswordForm.value)"
    >
      RESTABLECER
    </button>
  </form>
</div>
