<div class="container">
  <div class="superior">
    <div class="date-time-container">
      <span class="date">14 de marzo 2020</span>
      <span class="time">14:30 PM</span>
    </div>
    <div class="genre-container">
      <span>ROCK</span>
    </div>
  </div>
  <div class="middle">
    <img src="images/generic-concert-poster.jpg" alt="event-image" />
  </div>
  <div class="bottom">
    <span class="description">Bon Jovi en concierto, no te lo pierdas</span>
    <span class="place">CC TEATRO LIGAS, LIMA</span>
  </div>
</div>
