<div class="container box-shadow">
  <div class="superior">
    <div class="date-time-container">
      <span class="date">{{ data.dateEvent }}</span>
      <span class="time">{{ data.timeEvent }}</span>
    </div>
    <div class="genre-container">
      <span>{{ data.genre }}</span>
    </div>
  </div>
  <div class="middle">
    <img src="images/generic-concert-poster.jpg" alt="event-image" />
  </div>
  <div class="bottom">
    <span class="description">{{ data.description | textLimiter : 40 }}</span>
    <span class="place">{{ data.place | textLimiter : 24 }}</span>
  </div>
</div>
