<header>
  <div class="container">
    <div class="logo-container">
      <img src="images/logo.png" alt="logo" />
      <h1>MUSICAL EVENTS</h1>
    </div>
    <div class="search-container">
      <input
        type="text"
        placeholder="Buscar..."
        [formControl]="searchBarFormControl"
      />
    </div>
    <div class="buttons-container">
      <button routerLink="/login" mat-button class="primary">INGRESAR</button>
      <button routerLink="/register" mat-button class="accent">
        REGÍSTRATE
      </button>
    </div>
  </div>
</header>
