<app-header></app-header>

<div>
  <div>
    <mat-form-field>
      <mat-label>Género musical</mat-label>
      <mat-select>
        <mat-option value="1">Cumbia</mat-option>
        <mat-option value="2">Salsa</mat-option>
        <mat-option value="3">Merengue</mat-option>
        <mat-option value="4">Reggae</mat-option>
        <mat-option value="5">Rock</mat-option>
      </mat-select>
    </mat-form-field>
    <span>Selecciona tu género musical favorito</span>
  </div>
  <div>
    <app-event-card></app-event-card>
  </div>
</div>

<app-footer></app-footer>
